/* ==discrdthememe== */
  /**
 * @name readiscord
 * @author soswav
 * @version 0.0.1
 * @description for those people with hoofdaphobia!
 * @source https://github.com/soswav/readiscord
 * @website https://github.com/soswav/readiscord
 */
/* ==/real!== */

/*
 * credits:
 * - og creator: Commenter25 (https://github.com/Commenter25)
 */

/* code goes down 'ere, wowie */
  span {
      text-transform: lowercase !important;
  }

  div {
      text-transform: lowercase !important;
  }

  h2 {
      text-transform: lowercase !important;
  }

  input {
      text-transform: lowercase !important;
  }

  button {
      text-transform: lowercase !important;
  }
